body { 
    margin: 0px;
    padding: 0px; 
     
}
html {
  scroll-behavior: smooth;
}
#navbar { 
    display: flex; 
    align-items: center;
       position: relative;  
        font-family: "Baloo Bhai 2", system-ui, sans-serif;                                                                    ;
}    
  #navbar::before { 
    content: "";
    background-color: black;
    z-index: -1;
    position: absolute;
    height: 100%;
    width: 100%;
    opacity: 0.3;
  }
   div.logo { 
       margin: 5px 25px;
   }
  div.logo img { 
    width: 60px; 
    margin: 5px 5px;
  }
 ul {  
     display: flex;
    
} 
  #navbar ul li { 
            
            list-style: none;
            font-size: 1.3rem;
  } 
   #navbar ul li a {  
    color: white;
     display: block;
     padding: 3px 22px; 
     text-decoration: none;
     border-radius: 20px;
   } 
   #navbar ul li a:hover {  
    color: black;
     background-color: white;
   }  
   #home {  
    height: 400px;
      position: relative;
      display: flex;
      flex-direction: column; 
      align-items: center;
      justify-content: center;
      padding: 3px 200px;
   }  
    #home::before { 
         content: "";
    background: url(p2\ img2.jpg) no-repeat center center/cover ;
    z-index: -1;
    position: absolute;
    height: 100%;
    width: 100%;
    opacity: 0.9;
   }    
   #home h1 { 
    
    text-align: center;
    color: black;
   } 
   #home p { 
    text-align: center;
    color: black; 
    font-size: 1.2rem; 
    font-style: italic;
    font-weight: bold;
   }
   .h1-primary { 
    font-size: 2.5rem; 
    padding: 0px;
   }
   #order {   
    font-size: 15px;
    width: 100px;
    padding: 5px 10px;
    border: 2px solid black; 
    border-radius: 10px; 
    background-color: black; 
    color: white; 
    margin: 15px;
   } 
   #order:hover { 
       background-color: rgb(228, 223, 223); 
       border: 3px solid black; 
       cursor: pointer;
   }
  .h1-primary {  
     font-family: "Baloo Bhai 2", system-ui, sans-serif;  
    font-weight: bold;
    font-size: 2.5em;
    text-align: center;
  } 
  .ser { 
    margin: 10px;
  }
  #services { 
      
    font-family: "Baloo Bhai 2", system-ui, sans-serif;    
    display: flex;
    justify-content: space-around;
  }
  .box { 
    text-align: center;
    border: 2px solid red; 
    width: 30%; 
    border-radius: 20px; 
    background: rgb(223, 222, 222);
    } 
  .h2-secoundary { 
    font-family: "Baloo Bhai 2", system-ui, sans-serif;    
    font-size: 1.9rem; 
    margin-top: 10px;
    margin-bottom: 15px ;
  }
  
  .box p { 
    font-size: 1.3rem;
    font-family: 'Bree Serif',serif; 
    text-align: center;
  } 
  .box img { 
    height: 120px;
    width: 120px; 
    margin-top: 20px;
  }  
   #client-section  { 
    
    font-family: "Baloo Bhai 2", system-ui, sans-serif;    
     position: relative;
      height: 250px;
   } 
    #client-section::before  { 
      content: "";
      z-index: -1;
      background: url('p2\ img7.jpg') no-repeat center center/cover;
      position: absolute;
      height: 100%;
      width: 100%;
      opacity: 0.3;
   }
  .clients { 
      display: flex;
      justify-content: center;
      align-items: center;
  } 
  .clients img { 
      height: 124px;
  } 
  .cliitem { 
    padding: 30px;
  } 
  .cli { 
    margin-bottom: 0px;
    padding-top: 20px;
  } 
  #contact { 
    height: 520px;
    font-family: "Baloo Bhai 2", system-ui, sans-serif;    
    position: relative; 
    
  } 
  #contact::before {  
    content: "";
   position: absolute;
   z-index: -1;
   width: 100%;
   height: 100%;
   background: url('p2\ img9.jpg') no-repeat center center/cover;
   opacity: 0.5;
  } 
  .center { 
    text-align: center;
    background-color: black;
    color: white; 
    padding: 15px 25px;
  }  

  #contact-box { 
     display: flex;
     justify-content: center;
     align-items: center; 
     padding-bottom: 34px;
  }
  #contact-box input,#contact-box textarea { 
      width: 100%;
      padding: 0.5rem; 
      border-radius: 10px;
      font-size: 1.1rem;
  }
  #contact-box form { 
    width: 30%;
  } 
  #contact-box form label { 
    font-size: 1.3rem; 
     font-weight: bold;
  }
  .contactus {  
    padding-bottom: 0px;
        margin-bottom: 0px;
    padding-top: 5px; 
    margin-top: 0px;
  } 
  